<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="body">
    <meta charset="UTF-8"/>
</head>
<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/register}">Ведомость</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/teachers}">Преподы</a></li>
                        <li><a href="#" th:href="@{/teacher/new}">Создать препода</a></li>
                        <li><a href="#" th:href="@{/groups}">Группы</a></li>
                        <li><a href="#" th:href="@{/group/new}">Создать группу</a></li>
                        <li><a href="#" th:href="@{/register/students}">Студенты</a></li>
                        <li><a href="#" th:href="@{/register/student/new}">Создать студента</a></li>
                        <li><a href="#" th:href="@{/stuffs}">Расходники</a></li>
                    </ul>
                    <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
                        <li>
                            <a href="userTM" th:href="@{/}">
                                <span th:text="'Привет, ' + ${#authentication.name} + '!'"></span>
                            </a>
                        </li>
                        <li><a href="/logout">Выйти</a></li>
                    </ul>
                    <ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
                        <li><a href="/login">Войти</a></li>
                        <li><a href="/registration">Регистрация</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>