<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Ведомость здесь!</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Подробнее</h2>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Teacher Id:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${teacher.id}">Teacher Id</p></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Имя:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${teacher.firstName}">Имя</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Фамилия:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${teacher.lastName}">Фамилия</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Группы:</label>
                <div class="col-sm-10">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Название</th>
                            <th>Студенты</th>
                            <th>Просмотреть</th>
                            <th>Редактировать</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="group : ${teacher.groups}">
                            <td th:text="${group.id}"><a href="/group/${group.id}">Id</a></td>
                            <td th:text="${group.name}">Имя</td>
                            <td>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Имя</th>
                                        <th>Фамилия</th>
                                        <th>Просмотреть</th>
                                        <th>Редактировать</th>
                                        <th>Удалить</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="student : ${group.students}">
                                        <td th:text="${student.firstName}">Имя</td>
                                        <td th:text="${student.lastName}">Фамилия</td>
                                        <td><a th:href="${'/register/student/' + student.id}">Просмотреть</a></td>
                                        <td><a th:href="${'/register/student/edit/' + student.id}">Редактировать</a></td>
                                        <td><a th:href="${'/register/student/delete/' + student.id}">Удалить</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td><a th:href="${'/group/' + group.id}">Просмотреть</a></td>
                            <td><a th:href="${'/group/edit/' + group.id}">Редактировать</a></td>
                            <td><a th:href="${'/group/delete/' + group.id}">Удалить</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Кол-во часов:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${teacher.workHours}">Кол-во часов</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Грн/час:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${teacher.workPaid}">Грн/час</p>
                </div>
            </div>

        </form>
    </div>
</div>

</body>
</html>