/target/
/core/target/
/students/target/
/accGoods/target/
/register/target/
/timeManager/target/
.idea/
accGoods/accGoods.iml
accounting-service.iml
core/core.iml
register/register.iml
students/students.iml
timeManager/timeManager.iml