<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <title>Список студентов</title>
</head>
<style>
    body {
        background: url(images/pic.jpg);
        background-size: cover;
    }
    div {
        opacity: 0.8;
        background: #ffffff; /* Цвет фона */
        padding: 5px; /* Поля вокруг текста */
    }
</style>
<body>
<div class="container">
    <h2>Список студентов</h2>
    <a class="btn btn-default" href="#" th:href="@{/student/new}">Добавить нового студента</a>
    <table class="table table-striped">
        <thead>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Тел. номер</th>
        <th>Email</th>
        <th>Группа</th>
        </thead>
        <tbody>
        <!--/*@thymesVar id="student" type="org.mainacad.students.model.Student"*/-->
        <tr th:each="student : ${studentAttribute}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.surname}"></td>
            <td th:text="${student.phoneNumber}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.grouppy}"></td>
            <td><a class="btn btn-xs btn-info" th:href="${ '/student/' + student.id}">Просмотр</a></td>
            <td><a class="btn btn-xs btn-success" th:href="${'/student/edit/' + student.id}">Изменить</a></td>
            <td><a class="btn btn-xs btn-danger" th:href="${'/student/delete/' + student.id}">Удалить</a></td>
        </tr>
        <div style="position:relative;bottom:10px;"></div>
        </tbody>
    </table>


</div>
</body>
</html>