<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <title>Информация о студенте</title>
</head>
<body>
<div class="container">
    <h2>Информация о студенте</h2>
    <div class="form-grouppy">
        <label class="col-sm-2 control-label">Имя:</label>
        <div class="col-sm-10">
            <p class="form-control-static" th:text="${student.name}"></p>
        </div>
    </div>
    <div class="form-grouppy">
        <label class="col-sm-2 control-label">Фамилия:</label>
        <div class="col-sm-10">
            <p class="form-control-static" th:text="${student.surname}"></p>
        </div>
    </div>
    <div class="form-grouppy">
        <label class="col-sm-2 control-label">Номер телефона:</label>
        <div class="col-sm-10">
            <p class="form-control-static" th:text="${student.phoneNumber}"></p>
        </div>
    </div>
    <div class="form-grouppy">
        <label class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-10">
            <p class="form-control-static" th:text="${student.email}"></p>
        </div>
    </div>
</div>
</body>
</html>