<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <title>Список студентов</title>
</head>
<body>
<div class="container">
    <h2>Список студентов</h2>
    <a class="btn btn-default" href="#" th:href="@{/student/new}">Добавить нового студента</a>
    <table class="table table-striped">
        <thead>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Тел. номер</th>
        <th>Email</th>
        </thead>
        <tbody>
        <!--/*@thymesVar id="student" type="org.mainacad.students.model.Student"*/-->
        <tr th:each="students : ${studentAttribute  }">
            <td th:text="${students.name}"></td>
            <td th:text="${students.surname}"></td>
            <td th:text="${students.phoneNumber}"></td>
            <td th:text="${students.email}"></td>
            <td><a class="btn btn-xs btn-info" th:href="${ '/student/' + students.id}">Просмотр</a></td>
            <td><a class="btn btn-xs btn-success" th:href="${'/student/edit/' + students.id}">Изменить</a></td>
            <td><a class="btn btn-xs btn-danger" th:href="${'/student/delete/' + students.id}">Удалить</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>