<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DayTimes list</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>DayTimes list</h2>
    <a class="btn btn-default" href="#" th:href="@{/tmdayTimes/new}">Add new DayTime</a>
    <table class="table table-striped">
        <thead>
        <th>Hours per Day</th>
        <th>Date</th>
        <th>User Id</th>
        <th>Project Id</th>
        </thead>
        <tbody>
        <!--/*@thymesVar id="student" type="org.mainacad.students.model.Student"*/-->
        <tr th:each="dayTime : ${dayTimeAttribute}">
            <td th:text="${dayTime.hoursPerDay}"></td>
            <td th:text="${dayTime.date}"></td>
            <td th:text="${dayTime.userId}"></td>
            <td th:text="${dayTime.projectId}"></td>
            <!--/*<td><a class="btn btn-xs btn-info" th:href="${ '/tmdayTimes/new' + dayTime.id}">View</a></td>
            <td><a class="btn btn-xs btn-success" th:href="${'/tmdayTimes/new' + dayTime.id}">Edit</a></td>*/-->
            <td><a class="btn btn-xs btn-danger" th:href="${'/tmdayTimes/delete/' + dayTime.dayTimeId}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>