<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Ведомость здесь!</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Подробнее</h2>
    <div>
        <form class="form-horizontal" th:object="${group}" th:action="@{/group}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Название:</label>
                <div class="col-sm-10">
                    <label>
                        <input type="text" class="form-control" th:field="*{name}"/>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Выбрать препода:</label>
                <label>
                    <select class="box_shadow info_dropdown" name="selectTeacher" th:field="*{teacher}">
                        <option th:each="teacher:${allTeachers}" th:value="${teacher.id}"
                                th:text="${teacher.firstName +' ' +teacher.lastName}">Teachers
                        </option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Стоимость:</label>
                <div class="col-sm-10">
                    <label>
                        <input type="text" class="form-control" th:field="*{price}"/>
                    </label>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-default">Принять</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>