<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Главная</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="starter-template text-center">
            <p class="lead">Добро пожаловать</p>
            <p sec:authorize="isAnonymous()">
                <a class="btn btn-lg btn-default btn-block"
                   href="/login" role="button">Войти</a>
                <a class="btn btn-lg btn-default btn-block"
                   href="/registration" role="button">Создать нового пользователя</a>
            </p>

        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
</body>
</html>