<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Ведомсть здесь!</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<div>
    <form class="form-horizontal" th:object="${newRegister}" th:action="@{/register}" method="post">

        <div class="form-group">
            <label class="col-sm-2 control-label">выберите группу:</label>
            <label>
                <select class="box_shadow info_dropdown" name="selectGroups" th:field="*{groups}">
                    <option th:each="groups:${allGroups}" th:value="${groups}"
                            th:text="${groups.name}">Groups
                    </option>
                </select>
            </label>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Выберите период:    С:</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" th:field="*{startDate}"/>
            </div>
            <label class="col-sm-2 control-label">По:</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" th:field="*{finishDate}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Выберите дни занятий:</label>
            <label class="radio-inline"><input type="radio" />Понедельник</label>
            <label class="radio-inline"><input type="radio" />Вторник</label>
            <label class="radio-inline"><input type="radio" />Среда</label>
            <label class="radio-inline"><input type="radio" />Четверг</label>
            <label class="radio-inline"><input type="radio" />Пятница</label>
            <label class="radio-inline"><input type="radio" />Суббота</label>
            <label class="radio-inline"><input type="radio" />Воскресенье</label>
        </div>
    </form>
</div>

</body>
</html>