<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список товаров</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h3>Список товаров</h3>
    <a class="btn btn-default" href="#" th:href="@{/stuffs/new}">Добавить новый товар</a>
    <table class="table table-striped">
        <thead>
        <th>Дата</th>
        <th>Содержание платежа</th>
        <th>Сумма прихода</th>
        <th>Сумма расхода</th>
        <th>Статья бюджета</th>

        <td><a class="btn btn-xs btn-danger" th:href="${'/stuffs/excel.xls'}">Excel</a></td>
        </thead>
        <tbody>


        <tr th:each="stuff : ${stuffAttribute}">
            <td th:text="${stuff.date}"></td>
            <td th:text="${stuff.paymentPurpose}"></td>
            <td th:text="${stuff.income}"></td>
            <td th:text="${stuff.outcome}"></td>
            <td th:text="${stuff.stateOfBudget}"></td>


            <td><a class="btn btn-xs btn-info" th:href="${ '/stuffs/' + stuff.id}">Просмотр</a></td>
            <td><a class="btn btn-xs btn-success" th:href="${'/stuffs/edit/' + stuff.id}">Изменить</a></td>
            <td><a class="btn btn-xs btn-danger" th:href="${'/stuffs/delete/' + stuff.id}">Удалить</a></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>