<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Time manager</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Time manager</h2>
    <a class="btn btn-default" href="#" th:href="@{/tmusers}">Date/Time Users</a>
    <a class="btn btn-default" href="#" th:href="@{/tmprojects}">Date/Time Projects</a>
    <a class="btn btn-default" href="#" th:href="@{/tmdayTimes}">Date/Time List</a>

</div>
</body>
</html>