<!DOCTYPE html>
<html>
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <title>Ошибка 404</title>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="starter-template text-center">
            <h2>Кажется что-то пошло не так...</h2>
            <a class="btn btn-lg btn-default"
               href="/" role="button"><span class="glyphicon glyphicon-home"></span> Перейти на главную страницу</a>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
</body>
</html>